/*------------------------------*/
/* - Index 						*/
/*------------------------------*/
@import url(http://reset5.googlecode.com/hg/reset.min.css);

html, body {height: 100%; min-height: 100%; overflow:hidden; }
.clear { clear: both;}

/*#header { height: 60px; line-height: 60px; background-color: #fff;}
	#header ul li {float:left; display: block; list-style-type: none; width:50px; height: 50px;}*/

#wrapper_content { float:left; background:blue; height:100%;  }

#menurigth {
	float:right;
	width: 250px;
	background:red;
	height:100%;
}

#div1{ height: 60px; line-height: 60px; background:#ffffff;  }
	#div1 ul li { float:left; display: block; list-style-type: none; }

#div2{
    background:green;
    float:left;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

	
/* media queries */
@media (max-width: 1045px) {


	#div1 { width: 70px; }
	
	
}
	
/* media queries */
@media (max-width: 777px) {


	#menuleft { width: 70px; }
	
	
}	